{:duct.core/project-ns  blob-uploader
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}
 :duct.database.sql/hikaricp {:adapter "postgresql"
                              :port-number #duct/env [ "DB_PORT" :or "5432" ]
                              :server-name #duct/env [ "DB_HOST" ]
                              :database-name "blobdb"
                              :username "blobuser"
                              :password #duct/env [ "DB_PASSWORD" ]}

 :duct.module/ataraxy
 {[:get "/"] [:index]
  "/add-blob"
  {:get [:blob/show-create]
   [:post {blob-form :form-params}] [:film/create film-form]}
  [:get "/list-blobs"] [:film/list]
  "/find-by-name"
  {:get [:blob/show-search]
   [:post {search-form :form-params}] [:blob/find-by-name search-form]}}

 :blob-uploader.handler/index {}
 :blob-uploader.handler.blob/show-create {}
 :blob-uploader.handler.blob/create {:db #ig/ref :duct.database/sql}
 :blob-uploader.handler.blob/list {:db #ig/ref :duct.database/sql}
 :blob-uploader.handler.blob/show-search {}
 :blob-uploader.handler.blob/find-by-name {:db #ig/ref :duct.database/sql}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :blob-uploader.migrations/create-blob]}

 [:duct.migrator.ragtime/sql :blob-uploader.migrations/create-blob]
 {:up ["CREATE TABLE blob (id SERIAL PRIMARY KEY, name TEXT UNIQUE, description TEXT, rating INTEGER)"]
  :down ["DROP TABLE blob"]}


 }
